<%- include('../../compartido/cabecera')%>

<div class="container">
    <h1>Ruta mostrar usuario</h1>

    <a href="/usuario/ruta/crear-usuario">
        <button type="button"
                class="btn btn-primary">
            Crear usuario
        </button>
    </a>

    <%- include('../componentes/mostrar-tabla',
    {
    usuarios: datos.usuarios
    }
    ) %>
</div>



<%- include('../../compartido/pie-de-pagina')%>