<%- include('../../compartido/cabecera') %>

<div class="container">

    <% if( datos.error) { %>
    <div class="alert alert-danger"
         role="alert">
        <%= datos.error %>
    </div>

    <% } %>
    <h1>Crear Usuario</h1>

    <form action="/usuario"
          method="POST">
        <div class="form-group">
            <label for="nombreID">Nombre</label>
            <input id="nombreID"
                   type="text"
                   name="nombre"
                   placeholder="Ej: Iván Toromoreno"
                   title="Ingresar nombre de usuario"
                   class="form-control">
        </div>
        <small id="nombreIDHelp"
               class="form-text text-muted">
            Ingresa un nombre mayor a 3 caracteres y menor a 10.
        </small>
        <div class="form-group">
            <label for="cedulaID">Cédula</label>
            <input id="cedulaID"
                   type="text"
                   name="cedula"
                   placeholder="Ej: 1723488988"
                   title="Ingresar la cédula del usuario"
                   class="form-control">
        </div>
        <small id="cedulaIDHelp"
               class="form-text text-muted">
            Ingresa una cédula de 10 caracteres.
        </small>
        <button type="submit"
                class="btn btn-success"> Crear usuario
        </button>
        <button type="reset"
                class="btn btn-secondary"> Limpiar formulario
        </button>
    </form>


</div>

<%- include('../../compartido/pie-de-pagina') %>